.fw-gc-feed-item{  
    position:relative;
    padding: 25px 0; /* 40px Item postion relative to date box - 25px moves the items up */
    padding-left: 90px; !important; /* 97px Items to right of the date box 0px puts items behind adjust the left padding as needed */
    }
 
.fw-gc-feed-item-date-only{
    position: absolute;
    top: 20px;
    left: 10px;
    text-align: left;
    width: 47px;
    background: #ea5a44;
    height: 30px;
    font-size: 20px;
    line-height: 31px;
    padding: 0 19px;
    color:black;
    /* border: 1px solid; */
}
.fw-gc-feed-item-date-only::first-line{
    color:white;
}
 
.fw-gc-feed-item-date .fa {
    display:none;
}
 
 
.fw-gc-feed-item-date-only::before{
    content:"";
    position:absolute;
    border: 1px solid #ababab;
    height: 70px;
    left: 0;
    right: 0;
}
