.fw-gc-feed-item{  
    position:relative;
    padding: 60px 0; /* height of all items - event/location/time - orginal used padding: 40px 0; */
    padding-left: 97px !important;
    }
 
.fw-gc-feed-item-date-only{
    position: absolute;
    top: 20px;
    left: 10px;
    text-align: center; 
    width: 49px; 
    background: #ea5a44;
    height: 30px;
    font-size: 20px;
    line-height: 31px;
    padding: 0 5; /* 0 19px */
    color:black;
    /* border: 1px solid; */
}
.fw-gc-feed-item-date-only::first-line{
    color:white;
    text-transform: uppercase;
}
 
.fw-gc-feed-item-date .fa {
    display:none;
}
 
 
.fw-gc-feed-item-date-only::before{
    content:"";
    position:absolute;
    border: 1px solid #ababab;
    height: 70px;
    left: 0;
    right: 0;
} 
